<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleInventory.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleInventory.Wpf.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Resources/DarkTheme.xaml</value>
            </setting>
        </SimpleInventory.Wpf.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="SimpleInventory" connectionString="mongodb+srv://simple-inventory-client:xJTSIn8D1PTWDRDD@cluster0.ltt09c9.mongodb.net/?retryWrites=true&#38;w=majority"/>
	</connectionStrings>
</configuration>